.c-input {

	position: relative;
	display: block;
	
	padding-top: 1rem;

	&--wide {
		flex-grow: 1;

		.c-input__input {
			width: 100%;
		}
	}

	&__input {
		all: inherit;
		padding: 0.5rem;
		margin: unset;
		line-height: 1;

		background: var(--color-form-field-bg);
		border: 2px solid var(--color-form-field-border);

		&:focus {
			border-color: var(--color-primary);
		}
	}

	&__title {
		display: block;
		position: absolute;
		left: 0.5rem;
		top: 0rem;

		line-height: 1;

		z-index: 10;

		font-weight: 650;
		font-size: 0.875rem;
	}

}