
@font-face {
	font-family: Raleway;
	src: url('../assets/fonts/Raleway-VariableFont_wght.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-style: normal;
}

@font-face {
	font-family: Raleway;
	src: url('../assets/fonts/Raleway-Italic-VariableFont_wght.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-style: italic;
}
