export interface Input {
	type?: 'button' | 'submit',
	renderBody: Component,
	success: boolean,
	danger: boolean,
}

class {
	handleClick(e) {
		this.emit('click', e)
	}
}

style.scss {

}

<button
	class=`c-button ${input.success ? 'c-button--success' : ''} ${input.danger ? 'c-button--danger' : ''}`
	type=input.type ?? 'button'
	on-click("handleClick")
>
	<${input.renderBody}/>
</button>
