export interface Input {
	type?: 'button' | 'submit',
	renderBody: Component,
	success: boolean,
	danger: boolean,
}

style.scss {

}

<button class=`c-button ${input.success ? 'c-button--success' : ''} ${input.danger ? 'c-button--danger' : ''}` type=input.type ?? 'button'>
	<${input.renderBody}/>
</button>
