export interface Input {
	name: string,
	title: string,
	type?: 'text' | 'number',
	value?: string | number,
	wide?: boolean,
	required?: boolean,
}

style.scss {
}

<label class=`c-input ${input.wide ? 'c-input--wide' : ''}`>
	<span.c-input__title>${input.title}</span>
	<input.c-input__input type=input.type name=input.name value=input.value required=input.required>
</label>

