import { ValidationError } from 'express-validator'

export interface Input {
	errors?: ValidationError[],
}

style.scss {

}

<if(input.errors && input.errors.length)>
	<section.g-form-errors.l-stack>
		<h2>Whoa, hold up there!</h2>

		<p>There are some validation errors in what you provided. Could you please double-check these fields:</p>

		<ul>
			<for|error| of=input.errors>
				<li><strong>${error.path}</strong> ${error.msg}</li>
			</for>
		</ul>
	</section>
</if>
