---
import rwp_logo from '../assets/svg/rwp-logo.svg?raw'
import hangar_api_logo from '../assets/svg/hangar-api-logo.svg?raw'

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{title} | Hangar API</title>
	</head>
	<body class="l-stack--lg">
		<header class="g-header">
			<nav class="g-nav l-row">
				<ul class="g-nav__group">
					<li>
						<a class="g-nav__title" href="/">Hangar API</a>
					</li>
					<li><a href="/">Home</a></li>
					<li><a href="/competitions">Competitions</a></li>
					<li><a href="/profile">Profile</a></li>
				</ul>
			</nav>
		</header>

		<div class="g-content">
			<slot></slot>
		</div>

		<footer class="g-footer l-stack">
			<div class="l-row l-flex">
				<section class="g-footer__logos l-flex" style="gap: 1rem;">
					<Fragment set:html={hangar_api_logo} />
					<Fragment set:html={rwp_logo} />
				</section>
				<section>
					<a href="https://discord.gg/czpYcVHK">Join us on Discord</a>
				</section>
			</div>

			<div class="l-row g-footer__copypasta">
				The only problem with my Hornet (and of course, it is a perfect plane, a perfect plane in every way, it's the best plane I ever saw) is (and it obviously has a few small problems, of course, that's to be expected, but it's perfect, perfect in every way, absolutely the fastest and best plane ever made, and we have the best planes here, of course, you'd think the german or russian planes are better, but no, our planes are the best, and my Hornet is the best of all of them) the fuel (and of course, the fuel is top quality, made by Americans) drain shifts the COM slightly, so that the peak performance is right at the end of the fuel gauge.
			</div>

			<div class="l-row">
				Looking for something else? | <a href="/pizza">Order a Pizza</a>
			</div>
		</footer>
	</body>
</html>

<style lang="scss">
@use '../scss/main';

.g-header {
	background: var(--color-bg-secondary);
}

.g-nav {
	a {
		display: block;

		text-decoration: none;
		color: var(--color-text);

		font-size: 1.125rem;
		font-weight: 600;
		padding: 0.5rem 0rem;
	}

	&__group {
		list-style: none;
		margin: unset;
		padding: unset;

		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 900 !important;
	}
}

.g-content {
	min-height: calc(100vh - 5.875rem);
}

.g-footer {
	background: var(--color-bg-secondary);
	padding: var(--column-padding) 0;

	&__logos {
		flex-grow: 1;

		> svg {
			display: block;

			max-width: 10rem;
			height: auto;
		}
	}

	&__copypasta {
		opacity: 0.75;
		font-size: 0.875rem;
		font-style: italic;
	}
}
</style>